body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: Body;
    src: url(body-font/Barriecito-Regular.ttf);
}

@font-face {
    font-family: Title;
    src: url(title-font/CrayonAndTheWolf.otf);
}

#title {
    font-family: "Title";
}

body {
    font-family: "Body";
}

#intro {
    text-align: center;
}

#typewriter {
    font-size: 24px;
    margin-bottom: 20px;
}

#enterButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#mainContent {
    text-align: center;
}