body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: Body;
    src: url(body-font/Barriecito-Regular.ttf);
}

@font-face {
    font-family: Title;
    src: url(title-font/CrayonAndTheWolf.otf);
}

body {
    font-family: "Body";
    color: rgb(70,70,70);
}

#intro {
    text-align: center;
}

#typewriter {
    font-size: 77px;
    margin-bottom: 20px;
    font-family: "Title";
    color: rgb(205,89,140); /*PINK!!!!!!*/
}

#enterButton {
    font-family: "Body";
    color: rgb(70,70,70);
    padding: 11px 22px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#mainContent {
    text-align: center;
}