body, html {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Body";
    color: rgb(70,70,70);

    background-image: url(images/bg.jpg);
    overflow: hidden; 
}

@font-face {
    font-family: Body;
    src: url(body-font/Barriecito-Regular.ttf);
}

@font-face {
    font-family: Title;
    src: url(title-font/CrayonAndTheWolf.otf);
}

#intro {
    text-align: center;
}

#typewriter {
    font-size: 77px;
    margin-bottom: 20px;
    font-family: "Title";
    color: rgb(205,89,140); /*PINK!!!!!!*/
}

#enterButton {
    color: rgb(70,70,70);
    font-size: 22px;
    margin-top: 50px;
}
button:hover, #enterButton:hover {
    color: rgb(222,222,222);
    background-color: rgb(77,77,77);
}

button {
    font-family: "Body";
    border: none; 
    background-color: rgb(222,222,222);
    padding: 11px 22px;
    cursor: pointer;
    border-radius: 10px;
}

#nameQuestion, #category {
    text-align: center;
}

#table {
    position: absolute; 
    width: 100%;
    bottom: -500px;
    z-index: 5;
}

#reader {
    position: absolute;
    width: 70%;
    z-index: 3; 
    top: -75px;
}

.category:hover {
    cursor: pointer;
}

img.category {
    width: 200px;
    height: auto;
}

#choices {
    display: flex;
}

#love, #career, #vibe {
    border-radius: 10px;
    padding: 10px;
    border: 4px solid rgba(205,89,140,0);
}

#cardContainer {
    width: 80%;
    margin: auto;
    padding: auto;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
}

#speech {
    position: absolute;
    right: 0px;
    width: 40%;
    text-wrap: balance; 
    z-index: 101;
    font-size: 28px;
    margin-right: 22px;
    margin-top: 22px;
}

#restart {
    position: absolute;
    margin-left: 22px;
    margin-top: 22px;
    z-index: 222;
}

audio {
    position: absolute;
    z-index: 333;
}

